*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    width: 90%;
    height: 100px;
    /* border: 1px solid; */
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.navbar a{
    padding: 0 10px;
    text-decoration: none;
    color: rgb(148, 11, 148);

}
.container{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    height: 200px;
}
input{
    height: 50px;
    padding: 0 15px;
    width: 35%;
    font-size: 1.3rem;
    border-radius: 10px 0 0 10px;
    border: 1px solid #F9B9F2;
    outline: none;
    border-right: none;

}
#btn{
    height: 50px;
    padding: 0 10px;
    font-size: 1.3rem;
    border-left: none;
    background-color: rgb(201, 49, 201);
    color: #fff;
    border-radius: 0 10px 10px 0;
    border: 1px solid #F9B9F2;
    cursor: pointer;

}
#btn:hover{
    background: #fff;
    color: rgb(148, 11, 148);
    transition: 0.4s;
}
input:focus{
    border: 2px solid #83A0A0;
}
footer{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}


